inst/xmlSchema/host.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:oa="http://www.openapi.org/2014"
        targetNamespace="http://www.openapi.org/2014">

  <element name="vagrant" type="oa:VagrantType"/>

  <complexType name="VagrantType">
    <attribute name="vagrantfile" type="string" use="required"/>
    <attribute name="location" type="string"/>
  </complexType>
  
</schema>
